<div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <h5> Edit user {{currentEmployee.firstName}} {{currentEmployee.lastName}}</h5>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            required
            [(ngModel)]="currentEmployee.firstName"
            name="firstName"
          />
        </div>
  
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            class="form-control"
            id="lastName"
            required
            [(ngModel)]="currentEmployee.lastName"
            name="lastName"
          />
        </div>

        <div class="form-group">
          <label for="phoneNo">Phone Number</label>
          <input
            class="form-control"
            id="phoneNo"
            required
            [(ngModel)]="currentEmployee.phoneNo"
            name="phoneNo"
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            id="email"
            required
            [(ngModel)]="currentEmployee.email"
            name="email"
          />
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input
            class="form-control"
            id="address"
            required
            [(ngModel)]="currentEmployee.address"
            name="address"
          />
        </div>
  
        <button (click)="updateEmployee()" class="btn btn-success">Update</button>
      </div>
  
      <div *ngIf="submitted">
        <h3>You successfully updated employee {{currentEmployee.firstName}} {{currentEmployee.lastName}} </h3>
      </div>
    </div>
  </div>